.zl-com-height {
  position: absolute;
  height: 100%;
  background: #4C3738;
  width: 16rem;
}
#zl-banner-page {
  z-index: 3;
}
#zl-banner-page .zl-img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
#zl-banner-page .zl-banner-mask {
  display: none;
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}
#zl-banner-page .zl-banner-mask .zl-banner-promot {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
}
#zl-banner-page .zl-banner-mask .zl-banner-promot .zl-rectangular {
  border: 1px solid white;
  border-radius: 3px 3px 3px 3px;
}
#zl-banner-page .zl-banner-mask .zl-banner-promot .zl-main-promot {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 0.7rem;
  font-family: fantasy;
  top: 110%;
}
#zl-detail-pages {
  z-index: 1;
}
#zl-detail-pages .zl-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 2rem;
}
#zl-detail-pages .zl-join {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
#zl-detail-pages .zl-join .btn {
  width: 6rem;
}
#zl-detail-pages .page-moveIconUp {
  animation: moveToBottom ease 1.5s both infinite;
  -webkit-animation: moveIconUp ease 1.5s both infinite;
}
#zl-detail-pages .zl-back {
  position: absolute;
  z-index: 2;
  right: 0.1rem;
  margin-right: 0.8rem;
  margin-top: 0.35rem;
  color: white;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@keyframes moveIconUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}
#mq-production {
  color: white;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}
#mq-production a {
  text-decoration: none;
  color: white;
}
#mq-production #mq-frontEnd {
  display: block;
  background-image: url(../../img/frontend.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#mq-production #mq-frontEnd .title {
  opacity: 1;
  position: absolute;
  top: 20%;
  width: 16.21333333rem;
  height: 6.82666667rem;
  text-align: center;
  transition: all 1s;
}
#mq-production #mq-frontEnd .title span {
  display: inline-block;
  font-size: 4rem;
  transition: all 1s;
}
#mq-production #mq-frontEnd .title sup {
  top: 0.5rem;
  font-size: 1rem;
  display: block;
  transition: all 1s;
}
#mq-production #mq-frontEnd .wrap {
  width: 12.8rem;
  height: 8.53333333rem;
  overflow: hidden;
  position: absolute;
  top: 25%;
  left: 10%;
  line-height: 1.70666667rem;
  word-break: break-all;
  word-wrap: break-word;
}
#mq-production #mq-frontEnd .wrap .innerwrap {
  position: relative;
  top: 0;
  transition: all 1s;
}
#mq-production #mq-frontEnd .wrap .innerwrap .innerContent {
  position: relative;
  height: 8.53333333rem;
  opacity: 0;
  transition: all 2s;
}
#mq-production #mq-frontEnd .wrap .innerwrap .innerContent p {
  position: absolute;
  bottom: 0;
}
#mq-production #mq-frontEnd .wrap .innerwrap .opa {
  opacity: 1;
  transition: all 2s;
}
#mq-production #mq-frontEnd .wrap .innerwrap .opa1 {
  opacity: 1;
  transition: all 2s;
}
#mq-production #mq-backend {
  display: none;
  background-image: url(../../img/backend1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#mq-production #mq-backend .title {
  opacity: 1;
  position: absolute;
  top: 20%;
  width: 16.21333333rem;
  height: 6.82666667rem;
  text-align: center;
  transition: all 1s;
}
#mq-production #mq-backend .title span {
  display: inline-block;
  font-size: 4rem;
  transition: all 1s;
}
#mq-production #mq-backend .title sup {
  top: 0.5rem;
  font-size: 1rem;
  display: block;
  transition: all 1s;
}
#mq-production #mq-backend .wrap {
  width: 12.8rem;
  height: 8.53333333rem;
  overflow: hidden;
  position: absolute;
  top: 25%;
  left: 10%;
  line-height: 1.70666667rem;
  word-break: break-all;
  word-wrap: break-word;
}
#mq-production #mq-backend .wrap .innerwrap {
  position: relative;
  top: 0;
  transition: all 1s;
}
#mq-production #mq-backend .wrap .innerwrap .innerContent {
  position: relative;
  height: 8.53333333rem;
  opacity: 0;
  transition: all 2s;
}
#mq-production #mq-backend .wrap .innerwrap .innerContent p {
  position: absolute;
  bottom: 0;
}
#mq-production #mq-backend .wrap .innerwrap .opa {
  opacity: 1;
  transition: all 1s;
}
#mq-production #mq-backend .wrap .innerwrap .opa1 {
  opacity: 1;
  transition: all 1s;
}
#mq-production #mq-android {
  display: none;
  background-image: url(../../img/android.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#mq-production #mq-android .title {
  opacity: 1;
  position: absolute;
  top: 20%;
  width: 16.21333333rem;
  height: 6.82666667rem;
  text-align: center;
  transition: all 1s;
}
#mq-production #mq-android .title span {
  display: inline-block;
  font-size: 4rem;
  transition: all 1s;
}
#mq-production #mq-android .title sup {
  top: 0.5rem;
  font-size: 1rem;
  display: block;
  transition: all 1s;
}
#mq-production #mq-android .wrap {
  width: 12.8rem;
  height: 8.53333333rem;
  overflow: hidden;
  position: absolute;
  top: 25%;
  left: 10%;
  line-height: 1.70666667rem;
  word-break: break-all;
  word-wrap: break-word;
}
#mq-production #mq-android .wrap .innerwrap {
  position: relative;
  top: 0;
  transition: all 1s;
}
#mq-production #mq-android .wrap .innerwrap .innerContent {
  position: relative;
  height: 8.53333333rem;
  opacity: 0;
  transition: all 2s;
}
#mq-production #mq-android .wrap .innerwrap .innerContent p {
  position: absolute;
  bottom: 0;
}
#mq-production #mq-android .wrap .innerwrap .opa {
  opacity: 1;
  transition: all 1s;
}
#mq-production #mq-android .wrap .innerwrap .opa1 {
  opacity: 1;
  transition: all 1s;
}
#mq-production #mq-machineLearning {
  display: none;
  background-image: url(../../img/machine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
#mq-production #mq-machineLearning .title {
  opacity: 1;
  position: absolute;
  top: 20%;
  width: 16.21333333rem;
  height: 6.82666667rem;
  text-align: center;
  transition: all 1s;
}
#mq-production #mq-machineLearning .title span {
  display: inline-block;
  font-size: 4rem;
  transition: all 1s;
}
#mq-production #mq-machineLearning .title sup {
  top: 0.5rem;
  font-size: 1rem;
  display: block;
  transition: all 1s;
}
#mq-production #mq-machineLearning .wrap {
  width: 12.8rem;
  height: 8.53333333rem;
  overflow: hidden;
  position: absolute;
  top: 25%;
  left: 10%;
  line-height: 1.70666667rem;
  word-break: break-all;
  word-wrap: break-word;
}
#mq-production #mq-machineLearning .wrap .innerwrap {
  position: relative;
  top: 0;
  transition: all 1s;
}
#mq-production #mq-machineLearning .wrap .innerwrap .innerContent {
  position: relative;
  height: 8.53333333rem;
  opacity: 0;
  transition: all 2s;
}
#mq-production #mq-machineLearning .wrap .innerwrap .innerContent p {
  position: absolute;
  bottom: 0;
}
#mq-production #mq-machineLearning .wrap .innerwrap .opa {
  opacity: 1;
  transition: all 1s;
}
#mq-production #mq-machineLearning .wrap .innerwrap .opa1 {
  opacity: 1;
  transition: all 1s;
}
#mq-production #mq-ios {
  display: none;
  background-image: url(../../img/ios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#mq-production #mq-ios .title {
  opacity: 1;
  position: absolute;
  top: 20%;
  width: 16.21333333rem;
  height: 6.82666667rem;
  text-align: center;
  transition: all 1s;
}
#mq-production #mq-ios .title span {
  display: inline-block;
  font-size: 4rem;
  transition: all 1s;
}
#mq-production #mq-ios .title sup {
  top: 0.5rem;
  font-size: 1rem;
  display: block;
  transition: all 1s;
}
#mq-production #mq-ios .wrap {
  width: 12.8rem;
  height: 8.53333333rem;
  overflow: hidden;
  position: absolute;
  top: 25%;
  left: 10%;
  line-height: 1.70666667rem;
  word-break: break-all;
  word-wrap: break-word;
}
#mq-production #mq-ios .wrap .innerwrap {
  position: relative;
  top: 0;
  transition: all 1s;
}
#mq-production #mq-ios .wrap .innerwrap .innerContent {
  position: relative;
  height: 8.53333333rem;
  opacity: 0;
}
#mq-production #mq-ios .wrap .innerwrap .innerContent p {
  position: absolute;
  bottom: 0;
}
#mq-production #mq-ios .wrap .innerwrap .opa {
  opacity: 1;
  transition: all 1s;
}
#mq-production #mq-ios .wrap .innerwrap .opa1 {
  opacity: 1;
  transition: all 1s;
}
#rj-banner {
  z-index: 99;
  height: 100%;
  background: #1d1d1d;
  width: 16rem;
  position: absolute;
  overflow: hidden;
}
#rj-banner #rj-banner-container {
  height: 100%;
  position: absolute;
  width: 13rem;
  left: 50%;
  transform: translate(-50%);
}
#rj-banner #rj-banner-container .rj-banner-page {
  width: 100%;
  height: 75%;
  position: absolute;
  top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#rj-banner #rj-banner-container .rj-banner-page img {
  position: absolute;
  height: 100%;
}
#rj-banner #rj-banner-container .rj-pre-page {
  transform: translate(-16rem);
}
#rj-banner #rj-banner-container .rj-next-page {
  transform: translate(16rem);
}
#rj-banner #rj-banner-container .rj-banner-out-to-left {
  animation: bannerOutToLeft 2s cubic-bezier(0.5, 0, 0, 1) 0s forwards;
}
#rj-banner #rj-banner-container .rj-banner-out-to-left img {
  animation: bannerImgOutToLeft 2s cubic-bezier(0.5, 0, 0, 1) 0s forwards;
}
@keyframes bannerOutToLeft {
  from {
    transform: scale(1);
  }
  to {
    transform: translate(-120%) scale(0.7);
  }
}
@keyframes bannerImgOutToLeft {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.5);
  }
}
#rj-banner #rj-banner-container .rj-banner-in-from-right {
  animation: bannerInFromRight 2s cubic-bezier(0.5, 0, 0, 1) 0s forwards;
}
#rj-banner #rj-banner-container .rj-banner-in-from-right img {
  animation: bannerImgInFromRight 2s cubic-bezier(0.5, 0, 0, 1) 0s forwards;
}
@keyframes bannerInFromRight {
  from {
    transform: translate(120%) scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
@keyframes bannerImgInFromRight {
  from {
    transform: scale(2.5);
  }
  to {
    transform: scale(1);
  }
}
#rj-banner #rj-banner-container .rj-banner-out-to-right {
  animation: bannerOutToRight 2s cubic-bezier(0.5, 0, 0, 1) 0s forwards;
}
#rj-banner #rj-banner-container .rj-banner-out-to-right img {
  animation: bannerImgOutToRight 2s cubic-bezier(0.5, 0, 0, 1) 0s forwards;
}
@keyframes bannerOutToRight {
  from {
    transform: scale(1);
  }
  to {
    transform: translate(120%) scale(0.7);
  }
}
@keyframes bannerImgOutToRight {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.5);
  }
}
#rj-banner #rj-banner-container .rj-banner-in-from-left {
  animation: bannerInFromLeft 2s cubic-bezier(0.5, 0, 0, 1) 0s forwards;
}
#rj-banner #rj-banner-container .rj-banner-in-from-left img {
  animation: bannerImgInFromLeft 2s cubic-bezier(0.5, 0, 0, 1) 0s forwards;
}
@keyframes bannerInFromLeft {
  from {
    transform: translate(-120%) scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
@keyframes bannerImgInFromLeft {
  from {
    transform: scale(2.5);
  }
  to {
    transform: scale(1);
  }
}
#rj-banner #rj-banner-container #rj-banner-btns {
  height: 0.15rem;
  position: absolute;
  top: 91.5%;
  display: flex;
}
#rj-banner #rj-banner-container #rj-banner-btns .rj-banner-btn {
  margin-right: 0.4rem;
  width: 0.75rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  position: relative;
  transition: all 1s ease;
}
#rj-banner #rj-banner-container #rj-banner-btns .rj-banner-btn .rj-banner-timer {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 100%;
  background-color: white;
  opacity: 1;
}
#rj-banner #rj-banner-container #rj-banner-btns .rj-banner-btn-current {
  width: 2.34rem;
}
#rj-banner #rj-banner-container #rj-banner-btns .rj-banner-btn-current .rj-banner-timer {
  width: 0%;
  animation: btnTimer 5.5s linear;
}
@keyframes btnTimer {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
#rj-banner #rj-banner-container #rj-change-page-btn {
  font-size: 0.7rem;
  color: white;
  position: absolute;
  top: 90%;
  right: 1.5rem;
  transform: translate(41%);
  text-align: right;
  font-family: Georgia;
  letter-spacing: 0.04rem;
}
#rj-banner #rj-banner-container #rj-change-page-btn #rj-middle {
  display: inline-block;
  padding: 0 0.2rem 0 0.2rem;
}
#rj-banner #rj-banner-container #rj-fonts-container {
  font-size: 1.6rem;
  position: absolute;
  width: 100%;
  height: 6rem;
  top: 36.5%;
}
#rj-banner #rj-banner-container #rj-fonts-container .rj-c-txt,
#rj-banner #rj-banner-container #rj-fonts-container .rj-e-txt {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  opacity: 1;
  mix-blend-mode: difference;
  position: absolute;
}
#rj-banner #rj-banner-container #rj-fonts-container .rj-c-txt span,
#rj-banner #rj-banner-container #rj-fonts-container .rj-e-txt span {
  display: inline-block;
}
#rj-banner #rj-banner-container #rj-fonts-container .rj-c-txt .rj-from-right-in-span,
#rj-banner #rj-banner-container #rj-fonts-container .rj-e-txt .rj-from-right-in-span {
  transform: translate(9rem);
  opacity: 0;
}
#rj-banner #rj-banner-container #rj-fonts-container .rj-c-txt .rj-from-left-in-span,
#rj-banner #rj-banner-container #rj-fonts-container .rj-e-txt .rj-from-left-in-span {
  transform: translate(-9rem);
  opacity: 0;
}
@font-face {
  font-family: gabrielastencil;
  src: url(../fonts/gabrielastencil-light.woff2);
}
#rj-banner #rj-banner-container #rj-fonts-container .rj-e-txt {
  font-family: gabrielastencil, Helvetica, Arial, sans-serif;
  bottom: 0%;
}
#rj-banner #rj-banner-container #rj-fonts-container .rj-c-txt {
  top: 0%;
  font-size: 2.4rem;
  font-family: '宋体', '微软雅黑';
}
.curtain {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#cf-menu {
  z-index: 1;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-100%);
  display: block;
  width: 4rem;
  height: 5rem;
  overflow: hidden;
  padding-left: 1rem;
}
@keyframes shine {
  from {
    text-shadow: 0 0 0px;
  }
  to {
    text-shadow: 0 0 20px;
  }
}
#cf-menu .move-wrap {
  opacity: 0;
  position: relative;
  height: 5rem;
  width: 5rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s;
  box-sizing: border-box;
  transform-origin: 50% 50%;
}
#cf-menu .move-wrap p {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}
#cf-menu .move-wrap p i {
  display: block;
  transform-origin: center center;
  font-size: 1rem;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s;
}
#cf-menu .move-wrap p:nth-child(1) i {
  margin-top: -3px;
}
#cf-menu .move-wrap .height-light {
  font-size: 1.3rem !important;
}
#cf-menu div.menu-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-45%);
}
#cf-menu div.menu-btn p {
  margin: 0;
}
#cf-menu div.menu-btn p i {
  font-size: 1rem !important;
  line-height: 100%;
  text-align: center;
  color: #00A7DE !important;
  font-weight: 600;
}
#cf-menu div.menu-btn p .icon-caidan {
  animation: shine 1.5s infinite;
}
#cf-menu div.menu-btn p .icon-guanbi1 {
  font-size: 0.8rem !important;
  color: #D74C40 !important;
}
