#wf-form {
  overflow: hidden;
  text-align: center;
  width: 16rem;
  height: 100%;
  display: flex;
  position: relative;
}
#wf-form .red-form {
  color: red;
  width: 70px;
  margin-left: 5rem;
}
#wf-form .wf-close {
  font-size: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: red;
  background-color: white;
  border-radius: 25%;
  z-index: 1;
}
#wf-form .second-part {
  background-image: linear-gradient(to top, #4099ac, #007994, #1e5c73, #2D304A);
  padding-top: 2rem;
  color: white;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translate(16rem);
  position: relative;
}
#wf-form .second-part .need:after {
  content: '* ';
  color: red;
}
#wf-form .second-part .wf-title {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding-top: 1rem;
  /* width: 100%;
            font-size: 1rem; */
}
#wf-form .second-part .second-part-form {
  padding-top: 1rem;
  width: 100%;
}
#wf-form .second-part .second-part-form p {
  text-align: left;
  padding-left: 0.5rem;
  width: 100%;
}
#wf-form .second-part .second-part-form p select {
  width: 5rem;
  display: inline;
  vertical-align: middle;
  margin-left: 3rem;
}
#wf-form .second-part .second-part-form p label:not(.groups-la) {
  padding-left: 2rem;
  width: 10rem;
  display: block;
}
#wf-form .second-part .second-part-form p .groups-la {
  padding-left: 2rem;
  width: 10rem;
  display: inline;
}
#wf-form .second-part .second-part-form p textarea {
  margin-top: 0.5rem;
  margin-left: 2rem;
  width: 70%;
  height: 5rem;
}
#wf-form .second-part .btn-groups {
  padding-top: 1rem;
}
#wf-form .second-part .btn-groups button {
  margin: 0 1rem;
}
#wf-form .second-part .btn-groups .last-page {
  color: black;
}
#wf-form .first-part {
  position: absolute;
  color: white;
  z-index: 1;
  padding-top: 2rem;
  margin: 0 auto;
  /* width: 12rem;
        height: 90%; */
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#4099ac, #007994, #1e5c73, #2D304A);
  align-self: center;
}
#wf-form .first-part .center {
  margin: 0 auto;
  text-align: center;
}
#wf-form .first-part .center .wf-title {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding-top: 1rem;
  /* top: 4%;
                width: 100%;
                font-size: 1rem; */
}
#wf-form .first-part .center .tn {
  text-align: center;
  padding-top: 1rem;
}
#wf-form .first-part .center .first-part-form {
  margin: 0 auto;
  text-align: left;
}
#wf-form .first-part .center .first-part-form .form-group {
  padding-top: 0.2rem;
}
#wf-form .first-part .center .first-part-form .intro label {
  display: inline-block;
  width: 70px;
  text-align: right;
  margin-right: 20px;
}
#wf-form .first-part .center .first-part-form .intro textarea {
  /* margin-left:5rem;
                        width: 8rem;
                        height: 5rem; */
  width: 8rem;
  height: 5rem;
  display: block;
  margin-top: -1rem;
  margin-left: 5.2rem;
}
#wf-form .first-part .center .first-part-form .form-group:not(.gender) {
  overflow: hidden;
  padding-left: 0.5rem;
}
#wf-form .first-part .center .first-part-form .form-group:not(.gender) label {
  text-align: right;
  width: 5rem;
  padding-right: 0.5rem;
}
#wf-form .first-part .center .first-part-form .form-group:not(.gender) input {
  width: 8rem;
  display: inline;
}
#wf-form .first-part .center .first-part-form .gender {
  overflow: hidden;
  padding-left: 0.5rem;
}
#wf-form .first-part .center .first-part-form .gender label {
  text-align: right;
  width: 5rem;
  padding-right: 0.5rem;
}
#wf-form .first-part .center .first-part-form .need:after {
  content: '* ';
  color: red;
}
